<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://fastly.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://fastly.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
   


<section id="all">
    <div class="container">
      <div class="row">
        <div class="top-menu-left col-md-2">
          <a href="#">
            <img src="/public/img/images/pirox/yofo.logo.png" alt="" />
          </a>
        </div>
        <div class="top-menu-center col-md-7">
          <ul>
            <li class="mouth">
              <a href="#"> 口腔颌面CT</a>
            </li>

            <li><a> 技术与创新 </a></li>
            <li><a>临床案例</a></li>
            <li>
              <a class="youfo">关于有方</a>
              <ul>
                <li>企业简介</li>
                <li>发展历程</li>
                <li>资质与荣誉</li>
                <li>加入有方</li>
                <li>联系我们</li>
              </ul>
            </li>
            <li><a>资讯中心</a></li>
            <li><a>服务与支持</a></li>
          </ul>
        </div>
        <div class="top-menu-right col-md-3">
          <span class="iconfont">&#xe774;</span>
          <span class="contact">联系我们</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="banner">
          <p>Dubhewer</p>
          <p>有方自主研发</p>
          <p>CT图像后处理软件</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="content">
          <h2>让诊疗更专业，但操作又更简单</h2>
          <h4>多项智能化操作，大大提升诊疗效率和质量</h4>

          <div class="left col-md-5">
            <img src="/public/img/images/dubhewer/3d平面分割.svg" alt="" />
            <h3>3D平面分割</h3>
            <p>通过自由绘制切割线，让医生更方便的划分</p>
            <p>ROI（感兴趣区域）。分割的方案可在列表中</p>
            <p>自由选择切换。</p>
          </div>
          <div class="right col-md-7">
            <img src="/public/img/images/dubhewer/3d平面分割大图.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="content1">
          <div class="left col-md-7">
            <img
              src="/public/img/images/dubhewer/单颗牙齿分割大图.jpg"
              alt=""
            />
          </div>
          <div class="right col-md-5">
            <img src="/public/img/images/dubhewer/单颗牙齿分割.svg" alt="" />
            <h3>单颗牙齿分割</h3>
            <p>可对单颗牙齿进行单独分割视图，以更细致的</p>
            <p>查看牙齿的状况</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="content2">
          <div class="left col-md-5">
            <img src="/public/img/images/dubhewer/牙神经标注.svg" alt="" />
            <h3>牙神经管自动标注</h3>
            <p>强大的算法，可智能识别软组织结构中的牙神</p>
            <p>经管组织，并进行标记</p>
          </div>
          <div class="right col-md-7">
            <img src="/public/img/images/dubhewer/牙神经大图.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="content3">
          <div class="left col-md-7">
            <img src="/public/img/images/dubhewer/虚拟植牙大图.jpg" alt="" />
          </div>
          <div class="right col-md-5">
            <img src="/public/img/images/dubhewer/虚拟植牙.svg" alt="" />
            <h3>虚拟植牙</h3>
            <p>可导入各个厂商的植牙库，通过Dubhewer进</p>
            <p>行虚拟植牙，以给临床手术提供重要参考</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="content4">
          <div class="left col-md-5">
            <img src="/public/img/images/dubhewer/气道分析.svg" alt="" />
            <h3>气道分析</h3>
            <p>强大的算法，可智能识别软组织结构中的气道</p>
            <p>组织，并进行标记</p>
          </div>
          <div class="right col-md-7">
            <img src="/public/img/images/dubhewer/气道分析大图.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="content5">
          <div class="left col-md-7">
            <img src="/public/img/images/dubhewer/智能牙弓大图.jpg" alt="" />
          </div>
          <div class="right col-md-5">
            <img src="/public/img/images/dubhewer/智能牙弓.svg" alt="" />
            <h3>智能牙弓曲线</h3>
            <p>强大的算法，可根据牙齿骨组织形态，一键自</p>
            <p>动生成牙弓曲线</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="celi">
          <div class="left col-md-6">
            <p>一键开启正畸测量</p>
            <p>诊疗无缝衔接</p>
            <p>从侧位图像模式可直接开启正畸测量软件Autodon了解Autodon</p>
            <button class="btn btn-default" type="submit">了解Autodon &nbsp;> </button>
          </div>
        <!-- </div> -->
        <div class="right col-md-6">
          <img src="/public/img/images/dubhewer/正畸测量.png" alt="">
        </div>
      </div>
    </div>
    </div>
      
      <div class="footer1">
        <div class="container">
          <div class="row">
            <div class="foot">
              <div class="left col-md-3"><img src="/public/img/images/pirox/logo2 (1).svg" alt=""></div>
              <div class="center col-md-6">
                <ul>
                  <li>
                    <h3>口腔颌面CT</h3>
                    <p>PIROX</p>
                    <p>Dubhewer</p>
                    <p>Autodon</p>
                  </li>
                  <li>
                    <h3>技术与创新</h3>
                    <p>技术与创新</p>
                  </li>
                  <li>
                    <h3>临床案例</h3>
                    <p>临床案例</p>
                  </li>
                  <li>
                    <h3>关于有方</h3>
                    <p>企业简介</p>
                    <p>发展历程</p>
                    <p>荣誉与资质</p>
                    <p>联系我们</p>
                    <p>加入有方</p>
                  </li>
                  <li>
                    <h3>资讯中心</h3>
                    <p>新闻动态</p>
                   <p>展会信息</p>
                  </li>
                  <li>
                    <h3>服务与支持</h3>
                    <p>服务与支持</p>
                  </li>
                </ul>
              </div>
              <div class="right col-md-3">
                
                <h3>微信公众号</h3>
                <img src="/public/img/images/pirox/yofo-qr.png" alt="">
              </div>
            <div class="bottom">
              <hr>
              <span>&copy;皖ICP备17020699号-1 有方医疗 All Rights Reserved. 版权所有：有方医疗        &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;           语言：简体中文 </span>
              
            </div>
            </div>
          </div>
         
        </div>
    
      </div>
    </section>
  </body>
</html>
