<!-- 底部导航栏 -->
<div class="container-fluid">
    <div class="container footnav">
        <div class="row">
            <div class="col-md-2">
                <div class="footLogo">
                    <img src="../../public/img/layout/footLogo.svg" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="nav">
                    <ul>
                        <li>
                            <h6>口腔额面CT</h6>
                            <div class="menu-links__item">
                                <a href="/pirox">PIROX<span class="hide menu-links-desc">双源大视野CBCT</span></a>
                                <a href="/dubhewer">Dubhewer<span
                                        class="hide menu-links-desc">专业智能的CBCT图像管理软件</span></a>
                                <a href="/autodon">Autodon<span class="hide menu-links-desc">专业智能的齿科正畸软件</span></a>
                            </div>
                        </li>
                        <li>
                            <h6>技术与创新</h6>
                            <div class="menu-links__item">
                                <a href="/technology">技术与创新</a>
                            </div>
                        </li>
                        <li>
                            <h6>临床案例</h6>
                            <div class="menu-links__item">
                                <a href="/cases?bzlist=kouqiangzhengji">临床案例</a>
                            </div>
                        </li>
                        <li class="has-children">
                            <h6>关于有方</h6>
                            <div class="menu-links__item">
                                <a href="/about">企业简介</a>
                                <a href="/milestone">发展历程</a>
                                <a href="/honor">荣誉与资质</a>
                                <a href="/contact">联系我们</a>
                                <a href="/joinus">加入有方</a>
                            </div>
                        </li>
                        <li class="has-children">
                            <h6>资讯中心</h6>
                            <div class="menu-links__item">
                                <a href="/news">新闻动态</a>
                                <a href="/exhibition">展会信息</a>
                            </div>
                        </li>
                        <li>
                            <h6>服务与支持</h6>
                            <div class="menu-links__item">
                                <a href="/support">服务与支持</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <ul class="footer-qr right m-hide">
                    <li>
                        <h6>微信公众号</h6>
                        <img width="80" src="../../public/img/layout/wecaht.png">
                    </li>
                </ul>
            </div>
        </div>

        <!-- 底部信息栏 -->
        <div class="footer-copyright wrap pt15 pb15 clearfix">
            <div class="row">
                <div class="col-md-10">

                    © 皖ICP备17020699号-1 有方医疗 <span class="m-block">All Rights Reserved. 版权所有：有方医疗</span>

                </div>
                <div class="col-md-2 sm-hid">
                    语言： 简体中文
                </div>
            </div>
        </div>
    </div>
</div>