.factory {
    background-image: url("../../img/aboutUs/about/factory.jpg");
    background-repeat: no-repeat;
    background-size: auto 480px;
    background-position: top;
    height: 480px;
    position: relative;
    margin-top: 60px;
  }
    .factory h3 {
      font-size: 48px;
      font-weight: 700;
      color: #fff;
      position: absolute;
      top:96px ;
      left: 1.0667rem;
    }
    .factory p {
      font-size: 18px;
      color: #fff;
      opacity: 0.6;
      position: absolute;
      top: 180px;
      left: 1.0667rem;
    }
   .factory #tabs {
      position: absolute;
      bottom: 0;
      width: 10rem;
      height: 58px;
      background-color: rgba(255, 255, 255, 0.6);
    }
    .factory .factorytabs{
      width: 8rem;
      margin: 0 auto;
      height: 58px;
    }
    .factory #tabs a {
      color: #666;;
      font-size: 16px;
      display: inline-block;
      width: 100px;
      height: 58px;
      line-height: 58px;
      text-decoration: none;
      text-align: center;
    }
    .factory #tabs .blueborder{
      border-bottom: 2px solid blue;
      color: #222;
      font-weight: 700;
    }
    /* 正文部分 */
    .subject {
      padding-top: 96px;
      padding-bottom: 96px;
      margin-bottom: 40px;
      position: relative;
    }
    .subject .subjectbody{
      width: 10rem;
      /* height: 670px; */
      overflow: hidden;
      position: relative;
    }
    .subject p {
      font-size: 20px;
      color: #999;
    }
    .subject h1 {
      color: rgb(5, 8, 39);
      padding-bottom: 96px;
      font-size: 36px;
      font-weight: 700;
      margin-left: 1.0667rem;
    }
    .subject .H5Z5{
      color:rgb(5, 8, 39) ;
      margin-top: 15px;
      font-size: 20px;
      font-weight: 700;
    }
    .subject .subjectleft{
      margin-left: 1.0667rem;
    }
    .subject .subjectsvgs{
      width: 3.84rem;
    }
    .subject .subjectsvg{
      text-align: center;
     display: inline-block;
     margin-right:60px;
    }
    .subject .txt1 {
      margin-top: 50px;
      width: 4.64rem;
  
  
    }
    .subject .txt2 {
      margin-top: 40px;
      width: 4.64rem;
     
    }
    .subject .txt3 {
      margin-top: 40px;
      margin-bottom: 50px;
      width: 4.64rem;
     
    }
    .subject .yuanbian {
      width: 80px;
      height: 24px;
      font-size: 15px;
      padding: 10px 30px 10px 30px;
      border: 1px solid #333;
      border-radius: 100px;
      box-sizing: content-box;
      line-height: 24px;
      background-color: #fff;

    }
    .subject #history {
      text-decoration: none;
      color: #333;
    }
    .subject #lunbotu {
      width: 3.8533rem;
      height: 500px; 
      position: absolute;
      right: 0;
      top: 0;
    }
    .subject .lunboimgbox{
      width: 3.8533rem;
      height: 500px;
    }
    .subject .lunboimgbox img{
      width: 578px;
      height: 500px;
    }
    /* 愿望与使命 */
    .duty h1 {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
    }
    .duty h4 {
      font-size: 18px;
      color: #999;
      text-align: center;
    }
    .duty .dutybody{
      width: 8rem;
      margin: 0 auto;
    }
    .duty .callhope {
      width: 8rem;
      height: 1.92rem;
      margin-top: 50px;
      margin-bottom: 24px;
    }
    .duty .callhope img {
      width: 8rem;
      height: 1.92rem;
    }
    .duty .callduty {
      width: 8rem;
      height: 1.92rem;
    }
    .duty .callduty img {
      width: 8rem;
      height: 1.92rem;
    }
    /* 价值观 */
    .values {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .values h1 {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
    }
    .values h4 {
      font-size: 18px;
      color: #999;
      text-align: center;
      margin-bottom: 50px;
    }
    .values .valuebody{
      width: 8rem;
      height: 2.6667rem ;
      margin: 0 auto;
      padding-left: .24rem;
    }
    .values .value1 {
      width: 3.68rem;
      height: 2.6667rem;
      display: inline-block;
      margin-right: 12px;
      position: relative;
    }
    .values .value1 img {
      width: 3.68rem;
      height: 2.6667rem;
      border-radius: 10px;
    }
    .values .value2 {
      width: 3.68rem;
      height: 2.6667rem;
      display: inline-block;
      margin-left: 12px;
      position: relative;
    }
    .values .value2 img {
      width: 3.68rem;
      height: 2.6667rem;
      border-radius: 10px;
    }
    .values h6 {
      font-size: 28px;
      font-weight: 700;
      color: #222;
      position: absolute;
      left: 32px;
      top: 32px;
    }
    .values p {
      color: #a1a1a1;
      font-size: 20px;
      position: absolute;
      left: 32px;
      bottom: 32px;
      right: 23%;
    }