.phone {
    background-image: url("../../img/aboutUs/contact/phone.jpg");
    background-repeat: no-repeat;
    background-size: auto 480px;
    background-position: top;
    height: 480px;
    position: relative;
    margin-top: 60px;
  }
    .phone h3 {
      font-size: 48px;
      font-weight: 700;
      color: #fff;
      position: absolute;
      top:96px ;
      left: 1.0667rem;
    }
    .phone p {
      font-size: 18px;
      color: #fff;
      opacity: 0.6;
      position: absolute;
      top: 180px;
      left: 1.0667rem;
    }
   .phone #tabs {
      position: absolute;
      bottom: 0;
      width: 10rem;
      height: 58px;
      background-color: rgba(255, 255, 255, 0.6);
    }
    .phone .phonetabs{
      width: 8rem;
      margin: 0 auto;
      height: 58px;
    }
    .phone #tabs a {
      color: #666;;
      font-size: 16px;
      display: inline-block;
      width: 100px;
      height: 58px;
      line-height: 58px;
      text-decoration: none;
      text-align: center;
    }
    .phone #tabs .blueborder{
      border-bottom: 2px solid blue;
      color: #222;
      font-weight: 700;
    }
  /* 地图 */
  .maps {
    padding-top: 60px;
    padding-bottom: 15px;
    background-color: #f7f8fa;
  }

  .maps .mapmain {
    padding: 30px 40px 30px 40px;
    width: 8rem;
    box-sizing: border-box;
    height: 606px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
  }

  .maps h3 {
    font-size: 28px;
    margin: 0px;
    font-weight: 700;
  }

  .maps p {
    font-size: 16px;
    color: rgb(5, 8, 39);
    opacity: 0.5;
  }

  .maps .ditu {
    font-size: 16px;
    color: #c4c4c4;
    height: 16px;
    width: 49px;
    padding: 10px 28px 10px 28px;
    border: 1px solid #c4c4c4;
    border-radius: 100px;
    box-sizing: content-box;
    line-height: 16px;
    margin-top: 10px;
    position: absolute;
    top: 28px;
    right: 40px;
  }

  .maps .maptitle {
    height: 66px;
  }
  .maps .mapimg {
    width: 600px;
    height: 480px;
    vertical-align:bottom;
  }

  .maps ul{
   position:absolute;
   top: 96px;
   left: 872px;
  }
  .maps .doubleline{
    display: inline-block;
    margin-left: 20px;
  }
  
  li {
    list-style: none;
  }

  .weicon li {
    margin-top: 51px;
    font-size: 30px;
    color: #2362f6;
    text-align: left;
  }
  .maps h6 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    color: #222;
  }
  .maps ul span{
    position: relative;
    top: -20px;
  }
  .maps ul .sapnwechat{
    position: relative;
    top: -60px;
  }
  .maps .icon2 {
    margin-top: 61px;
  }

  .maps small {
    display: block;
    font-size: 12px;
    opacity: 0.5;
    font-style: normal;
    color: rgb(5, 8, 39);
  }

  /* 表单头*/
  .tables {
    padding-bottom: 60px;
    background-color: #f7f8fa;
  }

  .tables .write {
    padding: 60px 20px 30px 20px;
    width: 8rem;
    box-sizing: border-box;
    height: 881px;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;;
  }

  .tables h1 {
    color: rgb(5, 8, 39);
    font-size: 36px;
    font-weight: 700;
    margin-top: 0px;
  }

  .tables h4 {
    margin-top: 0px;
    color: #999;
    font-size: 18px;
  }

  .tables .tabletitle {
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
  }

  /* 表单体*/
  .tables .tablebody {
    text-align: left;
  }
  .tables .inputs {
    margin: auto;
    margin-top: 16px;
    width: 448px;
    height: 50px;
  }

  .tables .form-group {
    border: 1px solid #999;
    border-radius: 10px;
    padding-left: 6px;
  }
  .tables .callinput {
    border: none;
    background-color: #fff;
    color: #c4c4c4;
    box-shadow: none;
  }

  .tables .checktable {
    height: 46px;
    line-height: 46px;
  }
  .tables .leavenote{
    width: 448px;
    height: 142px; 
  }
  .tables .leavenotebox{
    width: 448px;
    height: 142px; 
  }
  /* .tables .leavenotelabel{
    position: relative;
    top: -55px;
  
  } */
.tables .endbtn{
margin-top:38px ;
margin-bottom: 60px;
text-align: center;
}
.tables button{
width: 228px;
height:48px ;
border-radius: 20px;
background-color: #2362f6;
color: #fff;

}
.tables .tablebody{
  font-size: 20px;

}  