body {
    padding: 0;
  }
  /* 头部大图片 */
  .Pagehead {
    background-image: url("../../img/index/Pirox.jpg");
    height: 800px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .Pagehead .pageheadbody {
    height: 412px;
    width: 1440px;
    margin: 0 auto;
    padding-top: 196px;
    /*表示动画关键帧的名字为test，延迟一秒钟之后开始执行，持续时间两次，重复执行4次，时序函数为匀速运动，重复执行时方向为alternate。*/
  }
  /* @keyframes test1 {
    from {
      margin-top: 80px;
    }
    to {
      margin-top: 0px;
    }
  } */
  .Pagehead h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    /* animation: test1 1.5s linear 0.2s 1 alternate; */
  }
  .Pagehead h2 {
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    /* animation: test1 1.5s linear 0.2s  1 alternate; */
  }

  .Pagehead p {
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 80px;
    animation: test1 1.5s linear 0.2s  1 alternate;
  }

  .Pagehead .yuanjiao {
    padding: 20px 80px 20px 80px;
    border: 1px solid #fff;
    border-radius: 100px;
    text-align: center;

    width: 86px;
    height: 18px;
    line-height: 18px;
    box-sizing: content-box;
  }
  .Pagehead .yuanjiao:hover {
    border: 1px solid blue;
  }
  .Pagehead a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  /* 三联 */
  .Three {
    padding-top: 48px;
    padding-bottom: 80px;
    background-color: #e7e8eb;
  }

  .Three .threebody {
    height: 2.1733rem;
    width: 11rem;
    margin: 0 auto;
    padding-left: .1333rem;
  }

  .Three ul {
    padding-top: 19px;
    padding-left: 0px;
  }

  .Three li {
    list-style: none;
    display: inline-block;
    width: 2.9733rem;
    height: 1.92rem;
    border-radius: 10px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .Three .Three1 img {
    width: 2.9733rem;
    height: 1.92rem;
    border-radius: 10px;
  }

  .Three .Three2 img {
    width: 2.9733rem;
    height: 1.92rem;
    border-radius: 10px;
  }

  .Three .Three3 img {
    width: 2.9733rem;
    height: 1.92rem;
    border-radius: 10px;
  }

  .Three .threepages {
    position: absolute;
    left: 32px;
    top: 32px;
    color: #fff;
  }

  .Three .subtitle {
    font-weight: 400;
    font-size: 24px;
  }

  .Three .txt {
    opacity: 0.5;
  }

  /* hover矩阵 */
  .matrix {
    background-color: #e7e8eb;
  }

  .matrix .matrixbody {
    height: 935px;
    width: 9.6rem;
    margin: 0 auto;
  }

  .matrix .H1Z1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: rgb(5, 8, 39);
  }

  .matrix .H2Z2 {
    text-align: center;
    color: #999;
    font-size: 18px;
    margin-bottom: 40px;
  }

  /* CT */
  .matrix .CTmain {
    width: 9.6rem;
    height: 640px;
    overflow: hidden;
  }

  .matrix .CTleft {
    width: 6.4rem;
    height: 640px;
    float: left;
    position: relative;
  }
  .matrix .CTleft img {
    width: 6.4rem;
    height: 640px;
  }
  /* 有方专科CT */
  .matrix .HL1 {
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    left: 32px;
    top: 32px;
  }
  .matrix .HP1 {
    position: absolute;
    font-size: 16px;
    left: 32px;
    top: 84px;
    color: #999;
  }

  .matrix .blacksvg {
    bottom: 24px;
    position: absolute;
    right: 16px;
  }

  .matrix .CTright {
    width: 3.2rem;
    height: 636px;
    float: left;
  }

  .matrix ul {
    padding: 0;
  }

  .matrix li {
    list-style: none;
    width: 1.3333rem;
    height: 142px;
    box-sizing: content-box;
    padding: 16px 12px 0px 24px;
    background: #262626;
    border: 1px solid #464646;
    float: left;
    margin-bottom: -1px;
    margin-left: -1px;
    transition: all 0.4s ease-in;
    position: relative;
  }

  .matrix .righttxt {
    color: #fff;
    font-size: 16px;
  }

  /* anniu */
  .matrix .walkline {
    margin-top: 40px;
    text-align: center;
    width: 9.6rem;
    height: 48px;
    line-height: 48px;
  }

  .matrix .walk {
    color: #050827;
    border: 1px solid #292929;
    border-radius: 100px;
    height: 48px;
    line-height: 48px;
    padding-left: 95px;
    padding-right: 95px;
    background-color: #fff;
    margin: 0 auto;
  }

  /* 更多精彩 */
  .More {
    background-color: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .More .morebody {
    height: 902px;
    width: 9.6rem;
    margin: 0 auto;
  }

  .More .H1Z1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: rgb(5, 8, 39);
  }

  .More .H2Z2 {
    text-align: center;
    color: #999;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .More .moremain {
    width: 9.6rem;
    height: 4.4rem;
    margin-top: 40px;
    overflow: hidden;
  }

  .More .moreleft,
  .moremiddle,
  .moreright {
    width: 3.2rem;
    height: 4.4rem;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
  }
  .More .moremain img {
    border-radius: 8px;
  }
  /* 跳转单元格 */
  .More .moreexhibition {
    width: 3.04rem;
    height: 2.04rem;
    position: relative;
    margin-bottom: 28px;
  }
  .More .moreexhibition img {
    width: 3.04rem;
    height: 2.04rem;
  }
  .More .moresupport {
    width: 3.04rem;
    height: 2.04rem;
    position: relative;
  }
  .More .moresupport img {
    width: 3.04rem;
    height: 2.04rem;
  }
  .More .moreabout {
    width: 3.04rem;
    height: 3.0133rem;
    position: relative;
    margin-bottom: 30px;
  }
  .More .moreabout img {
    width: 3.04rem;
    height:3.0133rem;
  }
  .More .morecases {
    width: 3.04rem;
    height: 1.0533rem;
    position: relative;
  }
  .More .morecases img {
    width: 3.04rem;
    height: 1.0533rem;
  }
  .More .morejoinus {
    width: 3.04rem;
    height: 2.04rem;
    position: relative;
    margin-bottom: 28px;
  }
  .More .morejoinus img {
    width: 3.04rem;
    height: 2.04rem;
  }
  .More .morenews {
    width: 3.04rem;
    height: 2.04rem;
    position: relative;
  }
  .More .morenews img {
    width: 3.04rem;
    height: 2.04rem;
  }
  .More p {
    font-size: 24px;
    font-weight: 700;
    left: 32px;
    position: absolute;
    top: 32px;
    z-index: 1;
    color: #fff;
  }
  .More .moresupport p,
  .morecases p {
    color: #000;
  }
  /* anniu */
  .More .contactline {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    width: 9.6rem;
    height: 48px;
    line-height: 48px;
  }

  .More .contact {
    color: #050827;
    border: 1px solid #292929;
    border-radius: 100px;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding-left: 95px;
    padding-right: 95px;
    background-color: #fff;
    text-align: center;
  }
  /* 切换显示 */
  .whiteback {
    display: none;
  }
  .active {
    background-color: #095bfb !important;
  }
  .active1 {
    display: block !important;
  }
  /* 动画效果 */
  .biggerbox:hover{
    box-shadow: 8px 8px 10px rgb(192, 192, 192);
  }

