{{extend '../layout/layout.html'}} {{block "head"}}
<title>多人博客-首页</title>
<link rel="stylesheet" href="../../public/css/wss/milestone.css" media="only screen and (min-width: 750px)" ; />
<link rel="stylesheet" href="../../public/css/wss/milestone750.css" media="only screen and (max-width: 750px)">
<link rel="stylesheet" href="../iconfont/iconfont.css">
<script src="../../public/js/jquery-1.8.2.js"></script>

{{/block}} {{block "content"}}
<!-- 顶部图片 -->
<div class="top-img" style=" background-image: url(../../public/img/aboutUs/milestone/milestone_img1.jpg)">
    <div class="B-box">
        <div class="top-img-text">
            <h3 class="severe top-img-text-one">发展历程</h3>
            <p class="ft18 m-ft11 top-img-text-two">盛德有邻 · 大方无隅</p>
        </div>
    </div>
</div>

<!-- 接口 -->
<section class="factory">
    <div id="tabs">
        <div class="factorytabs">
            <a href="/about">企业简介</a>
            <a href="/milestone" class="blueborder">发展历程</a>
            <a href="/honor">资质荣誉</a>
            <a href="/contact">联系我们</a>
            <a href="/joinus">加入有方</a>
        </div>
    </div>
</section>

<!-- 团队印记 -->
<div class="bgc-color interval" id="mile">
    <div class="B-box">
        <h5 class="ft36 m-ft22 title severe">团队印记</h5>
        <p class="ft18 m-ft11 title color-gray">团队成员印记一览</p>
        <div class="clearfix m-hide">
            <ul class="ul-box li-mt80 li-left">
                <li>
                    <h6 class="severe color-blue2 ft36">50+</h6>
                    <p class="severe ft24 mt10">SCI论文</p>
                    <p class="ft16 mt20">
                        共计发表SCI论文50多篇<br>总引用数3000余次
                    </p>
                </li>
                <li>
                    <h6 class="severe color-blue2 ft36">100+</h6>
                    <p class="severe ft24 mt10">国际会议报告</p>
                    <p class="ft16 mt20">
                        参与100多次国际会议报告
                        <br>发表会议论文30+
                    </p>
                </li>
                <li>
                    <h6 class="severe color-blue2 ft36">60+</h6>
                    <p class="severe ft24 mt10">专利数</p>
                    <p class="ft16 mt20">
                        60+项中国专利，7项美国专利，
                        <br>2项国际专利
                    </p>
                </li>
                <li>
                    <h6 class="severe color-blue2 ft36">3</h6>
                    <p class="severe ft24 mt10">NIH项目</p>
                    <p class="ft16 mt20">
                        主持美国国家卫生所项目3项
                    </p>
                </li>
                <li>
                    <h6 class="severe color-blue2 ft36 ">1</h6>
                    <p class="severe ft24  mt10">NSFC项目</p>
                    <p class="ft16 mt20">
                        主持国家自然科学基金项目1项
                    </p>
                </li>
                <li>
                    <h6 class="severe color-blue2 ft36 ">1</h6>
                    <p class="severe ft24 mt10">数字诊疗项目</p>
                    <p class="ft16 mt20">
                        主持国家科技部“数字诊疗”重点研发专项1项
                    </p>
                </li>
            </ul>
        </div>
        <div class="m-show">
            <div class="m-team">
                <div class="m-team-one">
                    <div class="m-team-txt">
                        <p class="m-team-txt-one">50+SCI</p>
                        <p class="m-team-txt-two">
                            共计发表SCI论文50+<br> 总引用数3000余次
                        </p>
                    </div>
                    <div class="m-team-txt">
                        <p class="m-team-txt-one">30+专利</p>
                        <p class="m-team-txt-two">
                            24项中国专利，7项美国专利，2项国际专利
                        </p>
                    </div>
                    <div class="m-team-txt">
                        <p class="m-team-txt-one">3 NIH</p>
                        <p class="m-team-txt-two">
                            主持美国国家卫生所项目共计3项
                        </p>
                    </div>
                </div>
                <div class="m-team-one">
                    <div class="m-team-txt">
                        <p class="m-team-txt-one">100+</p>
                        <p class="m-team-txt-two">
                            参与100多次国际会议报告<br> 发表会议论文30+
                        </p>
                    </div>
                    <div class="m-team-txt">
                        <p class="m-team-txt-one">1 数字诊疗项目</p>
                        <p class="m-team-txt-two">
                            主持国家科技部“数字诊疗”<br> 重点研发专项1项
                        </p>
                    </div>
                    <div class="m-team-txt">
                        <p class="m-team-txt-one">1 NSFC</p>
                        <p class="m-team-txt-two">
                            主持中国国家自然科学基金项目1项
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 发展历程 -->
<div class="about23 interval">
    <div class="B-box">
        <h5 class="ft36 m-ft22 title severe">发展历程</h5>
        <p class="ft18 m-ft11 title color-gray">重要节点事件一览</p>
    </div>
    <ul class="year-txt mt60 clearfix">
        <li class="content">
            <h6 class="ft40 severe">2021</h6>
            <div style="display:none;" class="year-txt__inner ft16 color-gray">
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">04月</strong>
                    </dt>
                    <dd>获德国IF设计大奖</dd>
                </dl>
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">06月</strong><span>专利数</span><span class="color-blue2 ml5">60</span>
                    </dt>
                    <dd>PIROX获NMPA医疗器械三类注册证 。</dd>
                    <dd>全球首款双源高清大视野牙科CBCT PIROX-Z15正式发售。</dd>
                </dl>
            </div>
        </li>
        <li class="content">
            <h6 class="ft40 severe">2020</h6>
            <div style="display:none;" class="year-txt__inner ft16 color-gray">
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">03月</strong><span>专利数</span><span class="color-blue2 ml5">30</span>
                    </dt>
                    <dd>PIROX通过国家医疗器械性能与安全型式检验。</dd>
                </dl>
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">08月</strong><span>专利数</span><span class="color-blue2 ml5">32</span>
                    </dt>
                    <dd>PIROX在多个临床医学中心完成临床试验。</dd>
                    <dd>获安徽华米医疗系统有限公司与安徽国元种子创业投资基金有限公司PreA轮二期投资。</dd>
                </dl>
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">11月</strong><span>专利数</span><span class="color-blue2 ml5">41</span>
                    </dt>
                    <dd>获质量体系ISO13485认证。</dd>
                </dl>
            </div>
        </li>
        <li class="content">
            <h6 class="ft40 severe">2019</h6>
            <div style="display:none;" class="year-txt__inner ft16 color-gray">
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">03月</strong><span>专利数</span><span class="color-blue2 ml5">16</span>
                    </dt>
                    <dd>双源大视野牙科CBCT第一代样机完成。</dd>
                </dl>
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">09月</strong><span>专利数</span><span class="color-blue2 ml5">20</span>
                    </dt>
                    <dd>“开放式CT系统”项目获“清华校友三创大赛”长三角赛区一等奖。</dd>
                    <dd>“开放式CT系统“项目获“中国创新创业大赛”全国总决赛优胜奖。</dd>
                    <dd>双源大视野牙科CBCT经过六次样机迭代，产品定型，命名为PIROX（派若克斯）。</dd>
                </dl>
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">12月</strong><span>专利数</span><span class="color-blue2 ml5">25</span>
                    </dt>
                    <dd>获安徽华颖智慧物联基金合伙企业（有限合伙）PreA轮一期投资。</dd>
                </dl>
            </div>
        </li>
        <li class="content">
            <h6 class="ft40 severe">2018</h6>
            <div style="display:none;" class="year-txt__inner ft16 color-gray">
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">04月</strong><span>专利数</span><span class="color-blue2 ml5">9</span>
                    </dt>
                    <dd>口腔CBCT作为开放式CT系列首款产品获得立项。</dd>
                </dl>
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">11月</strong><span>专利数</span><span class="color-blue2 ml5">10</span>
                    </dt>
                    <dd>”双源并行扫描” 、“高清低冗重建”核心技术研发完成。</dd>
                    <dd>双源大视野牙科CBCT原型机验证完成。</dd>
                </dl>
            </div>
        </li>
        <li class="content">
            <h6 class="ft40 severe">2017</h6>
            <div style="display:none;" class="year-txt__inner ft16 color-gray">
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">07月</strong><span>专利数</span><span class="color-blue2 ml5">1</span>
                    </dt>
                    <dd>有方（合肥）医疗科技有限公司成立。</dd>
                    <dd>获安徽居巢经济开发区投资有限公司天使轮投资 。</dd>
                </dl>
                <dl>
                    <dt>
                        <strong class="ft18 color-block mr20">12月</strong><span>专利数</span><span class="color-blue2 ml5">3</span>
                    </dt>
                    <dd>创始人被评为“2017年度合肥十大创新人物” </dd>
                </dl>
            </div>
        </li>
    </ul>
</div>

<script>
    $(function() {
        $(".content").hover(function() {
            $(this).children('.year-txt__inner').attr('style', 'display:block');
        }, function() {
            $(this).children('.year-txt__inner').attr('style', 'display:none');
        })
    })
</script>
{{/block}}{{block "script"}}
<script>
    console.log("生效了")
</script>
{{/block}}