<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>有方医疗_派CT_口腔诊所引流利器</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../iconfont/iconfont.css">
    <link rel="stylesheet" href="../zhaocss/page2.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://fastly.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://fastly.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <style>
 /* 导航条 */
 /* !!!! */
 /* page-banner样式 */
 
 .page-banner {
     width: 1684px;
     height: 240px;
 }
 /* bg-light news-wrap样式 */
 
 .page-banner .wrap {
     width: 1200px;
     height: 158px;
     margin: 0px 242px;
     color: red;
 }
 
 .page-banner .wrap .page-banner_inner {
     width: 1180px;
     height: 62px;
 }
 
 .pt96 {
     padding-top: 96px;
 }
 
 .pl20 {
     padding-left: 20px;
 }
 
 .ft-white {
     color: white;
 }
 
 .page-banner .wrap .page-banner_inner .ft42 .ft-blod {
     width: 1180px;
     height: 62px;
     margin: 0px;
 }
 
 .ft42 {
     font-size: 42px;
 }
 
 .ft-bold {
     font-weight: 700;
 }
 
 .ml40 {
     margin-left: 40px;
 }
 
 .bg-light {
     background-color: rgb(247, 248, 250);
 }
 
 .bg-light .news-wrap {
     width: 1084px;
     height: 3347px;
     padding: 30px 20px 50px 20px;
 }
 
 .pd50 {
     padding-bottom: 50px;
 }
 
 .pt30 {
     padding-top: 30px;
 }
 
 .wrap {
     margin-left: auto;
     margin-right: auto;
     margin: 0px 242px;
 }
 /* 新闻菜单 */
 
 .news-list {
     width: 1200px;
     height: 3267px;
     margin: 0px;
     padding: 0px;
 }
 
 .news-list .ui,
 li {
     list-style: none;
     border-radius: 2px;
     padding: 32px;
     margin-bottom: 24px;
     background-color: white;
     overflow: hidden;
     height: 254px;
 }
 /* 新闻 */
 
 #post-437 {
     overflow: hidden;
 }
 
 .news-list li .news-thumb {
     width: 44%;
     height: 224px;
     border-radius: 8px;
     background-size: cover;
     display: inline-block;
     background-position: 50%;
     /* background-color: red; */
     float: left;
 }
 
 .middle {
     vertical-align: middle;
 }
 
 .news-list li .news-desc-warp {
     box-sizing: border-box;
     font-size: 14px;
     padding-left: 50px;
     width: 66%;
     height: 224px;
     border-radius: 8px;
     display: inline-block;
     background-color: yellow;
     /* float: left; */
     /* width: 400px;
            height: 224px;
          
            background-color: red;
            float: left; */
 }
    </style>
</head>

<body>
    <nav class="navbar yf_navbar clearfix">
        <div class="container">


            <!-- meau -->
            <button class="menu-btn hide">
            <span class="menu-btn-line"></span>
        </button>
        </div>
        </div>
        <div class="page-banner mini-page-banner" style=" background-image: url(../../public/img/newsCenter/exhibition/exhibition-main.jpg)">
            <div class="wrap">
                <div class="page-banner__inner ft-white pl20 pt96">
                    <h3 class="ft42 ft-bold">
                        <a href="/news" class="ft-white">新闻动态</a>
                        <a href="/exhibition" class="ft-white opacity3 ml40">展会信息</a>
                    </h3>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="bg-light news-wrap">
            <div class="wrap pt30 pb50">
                <ul class="news-cat li-left hide">
                    <li><a href="/news">全部新闻</a></li>
                    <li class="cat-item cat-item-4"><a href="https://www.yofomedical.com/category/news/product">产品介绍</a>
                    </li>
                    <li class="cat-item cat-item-5"><a href="https://www.yofomedical.com/category/news/brand">品牌动态</a>
                    </li>
                    <li class="cat-item cat-item-6"><a href="https://www.yofomedical.com/category/news/industry">行业资讯</a>
                    </li>
                </ul>
                <!-- <ul class="news-cat li-left">
			<li class="active">
				<a href="">全部新闻</a>
			</li>
			<li>
				<a href="">品牌动态</a>
			</li>
			<li>
				<a href="">产品介绍</a>
			</li>
			<li>
				<a href="">行业资讯</a>
			</li>
		</ul> -->
                <ul class="news-list">
                    <!-- 新闻1 -->
                    <li id="post-272">
                        <a class="news-thumb inline-block middle" style="background-image: url(../../public/img/newsCenter/news/news\ photo-1.webp);" href="http://127.0.0.1:5500/yofo%E6%B5%8B%E8%AF%95/zhaoxueying/437.html" title="查看华南国际口腔展圆满收官 | 智慧有方，闪耀羊城详细内容"></a>
                        <div class="news-desc-wrap inline-block middle">
                            <h6 class="ft24 ft-bold mb15 over-doit line10">
                                <a href="/news/437.html" title="华南国际口腔展圆满收官 | 智慧有方，闪耀羊城">华南国际口腔展圆满收官 | 智慧有方，闪耀羊城</a>
                            </h6>
                            <p class="opacity5 news-desc">

                                有方医疗 2021华南国际口腔展 圆满收官 6月9日，我们北京再相会！ 智慧有方 闪耀羊城 作为此次展会的最大亮点，有方医疗在为期4天的展会里，为近6万名专业观众展示了Pirox 双源大视野牙科CBCT（派CT），此产品为中国首款获得德国iF设计大奖的牙科CBCT。派CT以其卓越的性能、超前的设计、优质的服务，吸引...... </p>
                            <p class="opacity3 news-date">
                                2021年05月15日 </p>
                        </div>
                    </li>

                    <!-- 新闻2 -->
                    <li id="post-284">
                        <a class="news-thumb inline-block middle" style="background-image: url(../../public/img/newsCenter/news/news\ photo-2.webp);" href="https://www.yofomedical.com/news/284.html" title="查看西部国际口腔展圆满收官 | 有方派CT惊艳全场！详细内容"></a>
                        <div class="news-desc-wrap inline-block middle">
                            <h6 class="ft24 ft-bold mb15 over-doit line10"><a href="/news/437.html" title="西部国际口腔展圆满收官 | 有方派CT惊艳全场！">西部国际口腔展圆满收官 | 有方派CT惊艳全场！</a></h6>
                            <p class="opacity5 news-desc">
                                有方医疗 2021西部国际口腔展 圆满收官 5月10日，我们广州再相会！ 有方医疗参展人员合影 派CT惊艳全场 作为西部国际口腔展的重要参展商之一，4月22日-25日，有方医疗在成都西部国际博览中心Y51展位，为广大朋友们展示了有方Pirox 双源大视野牙科CBCT（派CT），此产品为中国首款获得德国iF设计大奖的牙科...... </p>
                            <p class="opacity3 news-date">
                                2021年04月27日 </p>
                        </div>
                    </li>

                    <!-- 新闻3 -->
                    <li id="post-224">
                        <a class="news-thumb inline-block middle" style="background-image: url(../../public/img/newsCenter/news/news\ photo-3.png);" href="https://www.yofomedical.com/news/224.html" title="查看斩获设计奥斯卡│Pirox获2021年德国iF设计奖殊荣！详细内容"></a>
                        <div class="news-desc-wrap inline-block middle">
                            <h6 class="ft24 ft-bold mb15 over-doit line10"><a href="/news/437.html" title="斩获设计奥斯卡│Pirox获2021年德国iF设计奖殊荣！">斩获设计奥斯卡│Pirox获2021年德国iF设计奖殊荣！</a></h6>
                            <p class="opacity5 news-desc">
                                &nbsp; 4月13日，2021年全球知名的设计评选----有“设计界的奥斯卡”之称的德国iF设计大奖(IF Design Award) 获奖名单正式揭晓，有方医疗Pirox牙科CBCT凭借出色的设计理念、跨代的工业设计、全球前沿的技术特性、卓越的产品性能，在近万件参赛产品中脱颖而出，成功斩获iF设计大奖，有方医疗......
                            </p>
                            <p class="opacity3 news-date">
                                2021年04月16日 </p>
                        </div>
                    </li>
                    <!-- 4 -->
                    <li id="post-1">
                        <a class="news-thumb inline-block middle" style="background-image: url(../../public/img/newsCenter/news/news\ photo-4.png);" href="https://www.yofomedical.com/news/1.html" title="查看看见未来影像 | 派CT全球发布详细内容"></a>
                        <div class="news-desc-wrap inline-block middle">
                            <h6 class="ft24 ft-bold mb15 over-doit line10"><a href="/news/437.html" title="看见未来影像 | 派CT全球发布">看见未来影像 |
                                    派CT全球发布</a></h6>
                            <p class="news-tags"><span><a href="https://www.yofomedical.com/tag/pirox"
                                        rel="tag">Pirox</a></span><span><a
                                        href="https://www.yofomedical.com/tag/yiliaokeji"
                                        rel="tag">医疗科技</a></span><span><a href="https://www.yofomedical.com/tag/youfang"
                                        rel="tag">有方</a></span></p>
                            <p class="opacity5 news-desc">
                                盛德有邻、大方无隅，以社会价值为目标、以技术创新为驱动力，民族企业有方（合肥）医疗科技有限公司于2021年3月20日在美丽的苏州金鸡湖畔举行了全球新品发布会，将派CT盛装展现在口腔各界人士面前。 何谓“派CT”？——双源大视野牙科CBCT派若克斯，是全球首创的开放式牙科CBCT，其顶部开放＋坐式扫描＋落地式旋转的设计、...... </p>
                            <p class="opacity3 news-date">
                                2021年03月23日 </p>
                        </div>
                    </li>
                    <!-- 5 -->
                    <li id="post-182">
                        <a class="news-thumb inline-block middle" style="background-image: url(../../public/img/newsCenter/news/news\ photo-5.png);" href="https://www.yofomedical.com/news/product/182.html" title="查看全球首款顶部开放式牙科CBCT | 民族创造带来口腔诊疗新体验详细内容"></a>
                        <div class="news-desc-wrap inline-block middle">
                            <h6 class="ft24 ft-bold mb15 over-doit line10"><a href="/news/437.html" title="全球首款顶部开放式牙科CBCT | 民族创造带来口腔诊疗新体验">全球首款顶部开放式牙科CBCT | 民族创造带来口腔诊疗新体验</a></h6>
                            <p class="news-tags"><span><a href="https://www.yofomedical.com/tag/pirox"
                                        rel="tag">Pirox</a></span><span><a href="https://www.yofomedical.com/tag/paict"
                                        rel="tag">派CT</a></span><span><a href="https://www.yofomedical.com/tag/yakecbct"
                                        rel="tag">牙科CBCT</a></span></p>
                            <p class="opacity5 news-desc">
                                据悉，全球首创顶部开放式牙科CBCT——Pirox双源大视野牙科CBCT（派CT）发布会将于2021年3月20日在苏州金鸡湖国际会议中心举行。这款牙科CBCT由民族企业有方（合肥）医疗科技有限公司研发打造，其跨时代的技术创新和卓越的产品性能将为口腔数字化领域注入新鲜血液、带来全新体验。 今日口腔特于发布会前专访有方医疗...... </p>
                            <p class="opacity3 news-date">
                                2021年03月16日 </p>
                        </div>
                    </li>
                    <!-- 6 -->
                    <li id="post-293">
                        <a class="news-thumb inline-block middle" style="background-image: url(../../public/img/newsCenter/news/news\ photo-6.png);" href="https://www.yofomedical.com/news/293.html" title="查看有方医疗完成5000万元Pre-A轮融资，致力研发新一代CT成像技术详细内容"></a>
                        <div class="news-desc-wrap inline-block middle">
                            <h6 class="ft24 ft-bold mb15 over-doit line10"><a href="/news/437.html" title="有方医疗完成5000万元Pre-A轮融资，致力研发新一代CT成像技术">有方医疗完成5000万元Pre-A轮融资，致力研发新一代CT成像技术</a>
                            </h6>
                            <p class="opacity5 news-desc">
                                7月25日，动脉网第一时间获悉，有方医疗宣布完成5000万元人民币Pre-A轮融资。本轮融资由华颖投资领投，华米科技、安徽国元基金跟投，所融资金将用于NMPA医疗器械注册证申请、设备生产和销售等。 成立于2017年的有方医疗，是一家致力于研发新一代CT成像技术的医疗器械尖端企业，其技术核心点在于可以通过灵活多变的成像算...... </p>
                            <p class="opacity3 news-date">
                                2020年07月25日 </p>
                        </div>
                    </li>
                    <!-- 7 -->
                    <li id="post-221">
                        <a class="news-thumb inline-block middle" style="background-image: url(../../public/img/newsCenter/news/news\ photo-7.png)" title="查看动脉网独家专访创始人朱磊博士详细内容"></a>
                        <div class="news-desc-wrap inline-block middle">
                            <h6 class="ft24 ft-bold mb15 over-doit line10"><a href="/news/437.html" title="动脉网独家专访创始人朱磊博士">动脉网独家专访创始人朱磊博士</a></h6>
                            <p class="news-tags"><span><a href="https://www.yofomedical.com/tag/zhuanfang"
                                        rel="tag">专访</a></span><span><a
                                        href="https://www.yofomedical.com/tag/dongmaiwang"
                                        rel="tag">动脉网</a></span><span><a
                                        href="https://www.yofomedical.com/tag/youfangyiliao" rel="tag">有方医疗</a></span>
                            </p>
                            <p class="opacity5 news-desc">
                                动脉网是中国医疗创新的头部媒体，凭借全球视野、专业研究、用心服务成为中国目前最有创造力、前沿性的科技媒体之一。 “面临市场机遇，CBCT技术该如何创新”带着这一问题动脉网对创始人朱磊博士进行了独家专访。原文链接如下： 动脉网原文 朱磊博士 朱磊博士本科毕业于清华大学电机系，后在美国斯坦福大学获电子工程系博士学位。先后担...... </p>
                            <p class="opacity3 news-date">
                                2019年12月13日 </p>
                        </div>
                    </li>



                    <div class="navigation clearfix">
                        <div class="text-center">
                            <a class='page_num page_yet current' href='/news'>1</a>
                            <a class='page_num' href='/news/page/2' title='第 2 页'>2</a>
                            <a class='page_num' href='/news' title='下一页'>下一页</a> </div>
                    </div>
                </ul>
                <!--  -->
                <div class="pages text-center pb50 pt20 hide">
                    <a href="" class="nl-btn nl-btn-gray"><i class="ft-black">展开更多</i> <i
                            class="iconfont icon-plus ft-black"></i></a>
                </div>
                <!--  -->
            </div>
        </div>
        <div class="m-show text-center">
            <span class="back-top">返回顶部</span>
        </div>
        <!-- footer -->



        </script>
        <script type='text/javascript' scrc='https://www.yofomedical.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=5.8' id='wp-mediaelement-js'></script>
        <script type='text/javascript' src='https://www.yofomedical.com/wp-includes/js/mediaelement/renderers/vimeo.min.js?ver=4.2.16' id='mediaelement-vimeo-js'></script>


        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>

</html>